# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform variables files containing secrets
*.tfvars

# Ignore crash logs and other sensitive files
crash.log
*.log

# Ignore local environment settings
.terraform/
.terraform.lock.hcl

# Ignore override files used for local development
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore plan files
*.tfplan

# Ignore CLI output files
*.out
